#formcontainer
	{
	width:550px;
	margin:0 auto;
	padding-top:20px;
	}
div.row
	{
	clear: both;
	padding-top: 10px;
	}

span.label 
	{
	float: left;
	width: 200px;
	text-align: right;
	}
span.formw 
	{
	float: right;
	width: 335px;
	text-align: left;
	} 
div.error
	{
	clear: both;
	color: red;
	}
.auto-style2
        {
	     text-align: center;
            color: #6666FF;
            background-color: #FFFFFF;
        }